body {
  background: #2d3949;
  background: #2d3949 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130891/stars.png) repeat top center; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }

  to {
    background-position: -10000px 5000px; } }

.twinkling {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130891/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite; }

h1 {
  font-size: 72px;
  font-family: 'lust-display-didone', serif; }

h3 {
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'futura-pt', serif; }

hr {
  width: 100px;
  margin: 0.5em auto 1em;
  border: none;
  height: 2px;
  background: white; }

p {
  font-size: 24px;
  line-height: 34px;
  font-family: 'futura-pt', sans-serif;
  font-style: italic;
  font-weight: 300; }

.video {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 2; }
  .video:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(rgba(45, 57, 73, 0), #2d3949);
    width: 100%;
    height: 75%;
    top: 25%;
    left: 0; }

video {
  width: 100%;
  margin-top: -15%;
  opacity: 0.35; }

header {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  padding: 12em 0 5em; }
