/*Some styles*/

* {margin: 0; padding: 0;}

body {
	text-align: center;
}

#ascii {
	font-family: monospace;
	font-size: 11px;
	line-height: 70%;
}

#sprite {
	display: none;
}

#container {
	overflow: hidden;
	display: inline-block;
}
