@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #00baff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  transition: background .3s ease-in-out;
}
body.ready #ready {
  opacity: 1;
}
body.error {
  background: #BE5973;
}
body.error #error {
  opacity: 1;
}
body.success {
  background: #00A673;
}
body.success #success {
  opacity: 1;
}

#area {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
}

.status {
  color: #fff;
  position: absolute;
  font-size: 30px;
  top: 50%;
  text-align: center;
  width: 100%;
  opacity: 0;
  margin-top: -20px;
  transition: opacity .3s ease-in-out;
}

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: -100px;
  background: #fff;
  border-radius: 50%;
  animation: circle 1s ease-out forwards;
  transform: scale(0.1);
  opacity: 0.6;
}

@keyframes circle {
  100% {
    transform: scale(10);
    opacity: 0;
  }
}
#show {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.3;
  transition: opacity .1s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

#show:hover {
  opacity: 1;
}

/* Demo */
#coolors {
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-decoration: none;
  color: #353541;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 1001;
  opacity: .5;
}

#more {
  position: fixed;
  top: 20px;
  right: 30px;
  text-decoration: none;
  color: #353541;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 1001;
  opacity: .5;
}

#more:hover,
#coolors:hover {
  opacity: 1;
}
