@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: 'Varela Round';
  color: white;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1447746249824-4be4e1b76d66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d6b6d808ee5a504fade08a76d6d4d15d');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  transform: translate(-50%, -50%);
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.flip {
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 2vh 8vh;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
}

.flip:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flip:hover,
.flip:active {
  color: #0e83cd;
  background: #fff;
}
