body{
	background:black;
	// background:rgb(20, 20, 20);
	perspective:1500px;
	color:white;
	overflow: hidden;
}

#pathId{
	@include transition(all 1s);
	stroke-dashoffset: 116332px;
	stroke-dasharray:20px;
	-webkit-animation:dash 300s linear infinite;
	// -webkit-animation: dash 300s linear infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0px;
  }
}



svg{
	width:100%;
	height:1000px;
}
