@-webkit-keyframes shift {
  33.33333% {
    background-position: 34.62px 0px, 69.24px 0px, 34.62px 60px, 69.24px 60px, -17.31px 30px, 17.31px 30px, -17.31px 90px, 17.31px 90px;
  }
  66.66667% {
    background-position: 17.31px 30px, 86.55px -30px, 51.93px 30px, 51.93px 90px, 0px 0px, 0px 60px, -34.62px 120px, 34.62px 60px;
  }
  100% {
    background-position: 0px 0px, 103.86px 0px, 69.24px 60px, 34.62px 60px, -17.31px -30px, 17.31px 90px, -17.31px 150px, 17.31px 30px;
  }
}
@keyframes shift {
  33.33333% {
    background-position: 34.62px 0px, 69.24px 0px, 34.62px 60px, 69.24px 60px, -17.31px 30px, 17.31px 30px, -17.31px 90px, 17.31px 90px;
  }
  66.66667% {
    background-position: 17.31px 30px, 86.55px -30px, 51.93px 30px, 51.93px 90px, 0px 0px, 0px 60px, -34.62px 120px, 34.62px 60px;
  }
  100% {
    background-position: 0px 0px, 103.86px 0px, 69.24px 60px, 34.62px 60px, -17.31px -30px, 17.31px 90px, -17.31px 150px, 17.31px 30px;
  }
}
body {
  background-image: -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%), -webkit-radial-gradient(50% 50% circle, #ffffff 12%, rgba(255, 255, 255, 0) 14%);
  background-image: radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%), radial-gradient(circle at 50% 50%, #ffffff 12%, rgba(255, 255, 255, 0) 14%);
  background-position: 0px 0px, 34.62px 0px, 0px 60px, 34.62px 60px, 17.31px 30px, 51.93px 30px, 17.31px 90px, 51.93px 90px;
  background-size: 69.24px 120px;
  /*-webkit-filter:
    drop-shadow( 2px -2px 0 rgba(#08f, 1))
    drop-shadow(-2px  2px 0 rgba(#f80, 1));*/
  -webkit-animation: shift 1.25s infinite;
          animation: shift 1.25s infinite;
}

html {
  background-color: #000;
}

html, body {
  height: 100%;
}
