* {
  margin: 0;
  padding: 0;
}

canvas {
  cursor: crosshair;
  display: block;
    /* Location of the image */
  background: url('https://images.unsplash.com/27/hailo-street.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&s=ee871578f3d79b22cf7afe748f3335f2');

}
