@import url(http://fonts.googleapis.com/css?family=Raleway:300);

*{margin:0}
.container{
  height:100%;
  width:100%;  
  position: relative;
}
canvas{
  background:#222;
  
}

.text{
  text-transform: uppercase;
  color:#FFF;
  font:70px  'Raleway',Arial;
  letter-spacing:20px;
  position: absolute;  
  padding:20px 0;
  text-align:center;
  top:40%;
  -webkit-transition:all 1s;
  transition:all 1s;
  width:100%;
}


.text:hover{
  letter-spacing:0px;
  background:#222;
 
}

.text:hover span{
  color:#0072c5;
  text-shadow:none;
}

