@import url(http://fonts.googleapis.com/css?family=Ruda:400,900);
body {
  background-color: #f1c40f;
  -webkit-animation: color 5s ease-in 0s infinite alternate running;
  -moz-animation: color 5s linear 0s infinite alternate running;
  animation: color 5s linear 0s infinite alternate running;
}

@-webkit-keyframes color {
  0% {
    background-color: #f1c40f;
  }
  32% {
    background-color: #e74c3c;
  }
  55% {
    background-color: #9b59b6;
  }
  76% {
    background-color: #16a085;
  }
  100% {
    background-color: #2ecc71;
  }
}

@-moz-keyframes color {
  0% {
    background-color: #f1c40f;
  }
  32% {
    background-color: #e74c3c;
  }
  55% {
    background-color: #9b59b6;
  }
  76% {
    background-color: #16a085;
  }
  100% {
    background-color: #2ecc71;
  }
}

@keyframes color {
  0% {
    background-color: #f1c40f;
  }
  32% {
    background-color: #e74c3c;
  }
  55% {
    background-color: #9b59b6;
  }
  76% {
    background-color: #16a085;
  }
  100% {
    background-color: #2ecc71;
  }
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Ruda', sans-serif;
  color: #ecf0f1;
  font-size: 40pt;
  text-align: center;
  line-height: 350px;
  letter-spacing: 0.2em
}

::selection {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}
