@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input {
  position: absolute;
  top: 40%;
  left: 0;
  border: none;
  width: 100%;
  font-size: 10vh;
  outline: none;
  padding: 24px 22%;
  transform: translateY(-50%);
}
