@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
}
input {
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  border: none;
  width: 100%;
  background: transparent;
  font-family: 'Quicksand';
  font-size: 10vh;
  outline: none;
  padding: 24px 22%;
  transform: translateY(-50%);
}

h1 {
  top: 40%;
  text-align: center;
  font-size: 15vh;
  position: absolute;
}
