@import url('https://fonts.googleapis.com/css?family=Give+You+Glory');
body {
  color: white;
  margin: 0px;
  overflow: hidden;
  font-family: 'Give You Glory', cursive;
  font-size: 15vh;
}
body:hover span {
  display: none;
}

canvas {
  background: #000;
}

span {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
