@import url(https://fonts.googleapis.com/css?family=Quicksand);
body {
  text-align: center;
  font-family: 'Quicksand';
  background: black;
  color: white;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 2vh 8vh;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


/* Button Outline */

.btn-outline {
  border: 3px solid #fff;
  color: #fff;
}

.btn-outline:hover,
.btn-outline:active {
  color: #0e83cd;
  background: #fff;
}


