@import url(https://fonts.googleapis.com/css?family=Quicksand);
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  cursor: crosshair;
}

canvas {
  display: block;
}

h1 {
  color: white;
  text-align: center;
  position: absolute;
}

#instr {
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease;
}
#growth {
  right: 5%;
}

#popped {
  left:5%;
}

.hidden {
  display: none;
}
