@import url(http://fonts.googleapis.com/css?family=Poiret+One);
html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	position: absolute;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#000;
}
#canvas {
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
	background:#aaa;
}

#clic {
	position:absolute;
	color:#ccc;
	left:0;
	width:100%;
	text-align:center;
	bottom:10px;
	font-family:'Poiret One', cursive;
	font-size:10vh;
	pointer-events:none;
}
