body {
  background-color: #e7e7e7;
}

.color-picker {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 15em;
}

.inside {
  background: #000;
  height: 100%;
  width: 100%;
}

.color-window {
  margin: 0 auto;
  border-radius: 100%;
  height: 2.5em;
  opacity: 1;
  overflow: hidden;
  width: 2.5em;
}

.color-slider {
  width: 11.5em;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

#color-value {
  color: #333;
  font-family: sans-serif;
  font-size: 0.75rem;
  padding: 1.5em 0em;
  text-align: center;
}

.opacity-slider {
  width: 11.5em;
  margin: 0 auto;
}

input[type='range'] {
  -webkit-appearance: none;
}

.slider-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2.5em;
  height: 2.5em;
  width: 16.5em;
  background: transparent;
}
.slider-input:focus {
  outline: none;
}

.hex-value {
  box-shadow: inset 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(left, #000 0%, #004eff 100%);
  background: linear-gradient(to right, #000 0%, #004eff 100%);
}
.hex-value::-webkit-slider-thumb {
  margin-left: -1px;
}
.hex-value.js-shift-right::-webkit-slider-thumb {
  margin-left: 1px;
}

.opacity {
  box-shadow: inset 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(left, transparent 0%, #004eff 100%);
  background: linear-gradient(to right, transparent 0%, #004eff 100%);
}
.opacity::-webkit-slider-thumb {
  margin-left: 1px;
}
.opacity.js-shift-left::-webkit-slider-thumb {
  margin-left: -1px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: white;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  height: 3em;
  width: 3em;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
input[type='range']::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.transparent-underlay {
  width: 181px;
  height: 27px;
  border-radius: 13px;
  position: absolute;
  z-index: -1;
  left: 30px;
  top: 170px;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #ccc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #ccc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #ccc)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #ccc));
  background-size: 8px 8px;
  background-position: 0 0, 4px 0, 4px -4px, 0px 4px;
}

.sucess-tooltip {
  position: absolute;
  background-color: chartreuse;
  left: 50%;
  top: -20px;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: -1;
}
.sucess-tooltip.active {
  top: 0;
  opacity: 1;
  z-index: 1;
}

.sucess-message {
  color: #fff;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: bolder;
  padding: 1em 0.75em;
  text-align: center;
  background-color: #111;
  border-radius: 3px;
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 146px;
}

.info {
  color: #999;
  font-family: sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  padding: 1em 0.75em;
  text-align: center;
  max-width: 185px;
}

