html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	margin:0;
	padding:0;
	background:#000;
	position:absolute;
	width:100%;
	height:100%;
}
#screen {
	position:absolute;
	width:100%;
	height:100%;
}
#screen .img{
	position:absolute;
	cursor:pointer;
	width:100%;
	height:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
	user-select: none;
}
#screen .frame {
	position:absolute;
	width:50%;
	height:50%;
}
#images {
	display:none;
}
