html {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  height: 100%;
  text-align: center;
  /* Location of the image */
  background-image: url('https://images.unsplash.com/photo-1454817481404-7e84c1b73b4a?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

body {
  min-height: 100%;
  display: flex;
  margin: 0 20% 0 20%;
}

.container {
  margin: auto;
}

h1 {
  cursor: pointer;
}

span {
  margin: 0.2em;
}

.disable {
  color: #eee;
}
