body {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  background-color: black;
}
.choice {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 20px 30px 10px 30px;
  background: #fff;
  outline: none;
  cursor: pointer;
}
i.fa {
  font-size: 100px;
  margin: 20px 0 0 0;
}
h1 {
  color: white;
  margin: 2em 0 1em 0;
  font-size: 40px;
}
h2 {
  font-size: 20px;
  color: white;
}
