html,
body {
  margin: 0px;
  padding: 1px;
  border: 0px;
  outline: 0 none;
	/* Location of the image */
  background-image: url('https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=b256aa5102c408322cdb99ce6a6a0f53');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #251d3a;
  font-family: 'Century Gothic', Helvetica, sans-serif;
}

.container {
  width: 600px;
  margin: 100px auto;
  position: relative;
}

.clock-container:before,
.clock-container:after {
  clear: both;
  content: "";
  display: block;
}

.clock-container {
  margin: 10px auto;
  width: 420px;
}

.minutes,
.seconds,
.milliseconds,
.hours {
  height: 50px;
  width: 90px;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.hours-list,
.minutes-list,
.seconds-list,
.milliseconds-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hours-list li,
.minutes-list li,
.seconds-list li,
.milliseconds-list li {
  display: block;
  height: 50px;
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  margin-left: 12px;
  letter-spacing: 15px;
}

.hours-list {
	border-right: 1px solid white;
  -webkit-animation: ani-3 43200s steps(12, end) 0s infinite paused;
  animation: ani-3 43200s steps(12, end) 0s infinite paused;
}

.minutes-list {
		border-right: 1px solid white;
		border-left: 1px solid white;
  -webkit-animation: ani-1 3600s steps(60, end) 0s infinite paused;
  animation: ani-1 3600s steps(60, end) 0s infinite paused;
}

.seconds-list {
		border-left: 1px solid white;
		border-right: 1px solid white;
  -webkit-animation: ani-1 60s steps(60, end) 0s infinite paused;
  animation: ani-1 60s steps(60, end) 0s infinite paused;
}

.milliseconds-list {
		border-left: 1px solid white;
  -webkit-animation: ani-2 1s steps(100, end) 0s infinite paused;
  animation: ani-2 1s steps(100, end) 0s infinite paused;
}

@-webkit-keyframes ani-1 {
  to {
    transform: translateY(-3000px);
  }
}

@keyframes ani-1 {
  to {
    transform: translateY(-3000px);
  }
}

@-webkit-keyframes ani-2 {
  to {
    transform: translateY(-5000px);
  }
}

@keyframes ani-2 {
  to {
    transform: translateY(-5000px);
  }
}

@-webkit-keyframes ani-3 {
  to {
    transform: translateY(-600px);
  }
}

@keyframes ani-3 {
  to {
    transform: translateY(-600px);
  }
}

.watch {
  width: 110px;
  height: 110px;
  background-color: transparent;
  position: relative;
  margin: 30px auto;
  border: 5px solid white;
  border-radius: 100px;
}

.minutes-hand {
  width: 5px;
  height: 50px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 7px;
  left: 52.5px;
  -webkit-animation: watch 2s linear 0s infinite paused;
  animation: watch 2s linear 0s infinite paused;
  transform-origin: 2px 47.5px;
}

.hours-hand {
  width: 5px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 16px;
  left: 52.5px;
  -webkit-animation: watch 5s linear 0s infinite paused;
  animation: watch 5s linear 0s infinite paused;
  transform-origin: 2px 37.5px;
}

@-webkit-keyframes watch {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes watch {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.start {
  display: none;
  opacity: 0;
}

.start-label {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: block;
	margin: 20px auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.start-label:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}
.btn-1:hover,
.btn-1:active {
	color: #0e83cd;
	background: #fff;
}


}

.start-label:hover {
  background: #19112d;
}

.start:checked ~ .clock-container .milliseconds .milliseconds-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .seconds .seconds-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .minutes .minutes-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .hours .hours-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .watch .minutes-hand {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .watch .hours-hand {
  animation-play-state: running;
  animation-play-state: running;
}
